
@model Product

<div class="card h-100">
    <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.ProductId">
        <img class="card-img-top" src="@Model.ProductImageUrl" alt="@Model.ProductName">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a style="text-decoration: none;" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.ProductId">@Model.ProductName</a>
        </h4>
        <h5>$@Model.Price</h5>
        <p class="card-text">@Model.ProductDescription</p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@Model.ProductId" />
                    <button type="submit" class="btn btn-secondary btn-sm btn-green">+ Add to cart</button>
                </form>
            </div>
            <div class="col">
                <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="productId" value="@Model.ProductId" />
                    <button type="submit" class="btn btn-secondary btn-sm btn-red">- Remove from cart</button>
                </form>
            </div>
        </div>
        <small class="text-muted">★ ★ ★ ★ ☆</small>
    </div>
</div>
