@model CustomerListViewModel
@{
    ViewData["Title"] = "Customer List";
}

<h1>Customer List</h1>
@if (TempData["NewCustomer"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["NewCustomer"]
    </div>
}
@if (TempData["CustomerDeleted"] != null)
{
    <div class="alert alert-warning">
        <strong>Success!</strong> @TempData["CustomerDeleted"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Orders</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(customer.CustomerPhoto))
                    {
                        <img src="@customer.CustomerPhoto" alt="@customer.CustomerFirstName" width="50" height="50" />
                    }
                    else
                    {
                        <span>No Photo</span>
                    }
                </td>
                <td>@customer.CustomerFirstName</td>
                <td>@customer.CustomerLastName</td>
                @if (@customer.Orders?.Count == 0)
                {
                    <td>0</td>
                }
                else
                {
                    <td>
                        <h5>
                            <a style="color:dodgerblue" class="link-text" asp-page="/CustomerOrderList" asp-route-customerId="@customer.CustomerId"
                               asp-route-customerName="@customer.CustomerFirstName">
                                <strong>@customer.Orders?.Count</strong>
                            </a>
                        </h5>
                    </td>
                }

                
                <td>
                    <button type="button" class="btn btn-warning btn-sm">
                        <img src="~/images/edit.png" alt="Edit" width="16" height="16" />
                        <a class="link-text" asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id="@customer.CustomerId">Update</a>
                    </button>

                    <button type="button" class="btn btn-red btn-sm" onclick="return confirmDelete();">
                        <img src="~/images/delete.png" alt="Delete" width="16" height="16" />
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this customer?');
    }
</script>